<template>
  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    <router-view></router-view>
  </main>
</template>
<script>
  export default {
    name: 'Components',
    tag: 'el-components'
  }
</script>
