<template>
  <div class="header-bar">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">{{ info.label }}</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <router-link class="nav-link" :to="info.slug+'/new'">ajouter</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
  export default {
    name: 'HeaderBar',
    tag: 'el-header-bar',
    computed: {
      info () {
        return this.$store.state.resource.info
      }
    }
  }
</script>
