<template>
  <td>
    <button type="button" class="btn btn-primary">see</button>
    <button type="button" class="btn btn-primary" @click="permission(id)">delete</button>
    <router-link type="button" :to="slug+'/update/'+id" class="btn btn-primary">update</router-link>
  </td>
</template>

<script>
  export default {
    name: 'TableActions',
    tag: 'el-table-actions',
    props: ['slug', 'id'],
    methods: {
      permission (id) {
        this.openModal(id)
      }
    }
  }
</script>
