<template>
  <thead>
    <tr v-if="rows != false">
      <th v-for="row in rows" scope="col">{{ row.name }}</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
</template>
<script>
  export default {
    name: 'TableHeader',
    tag: 'el-table-header',
    props: ['rows']
  }
</script>
